spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/restructuring_dev
    username: restructuring
    password: restructuring
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  sql:
    init:
      mode: always
      data-locations: classpath:data-test.sql

  flyway:
    enabled: true
    baseline-on-migrate: true     # ⭐ MANGLET – nå virker lokal migration
    locations: classpath:migration

jwt:
  secret: MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTIzNDU2Nzg5MDE=
