spring:
  config:
    activate:
      on-profile: prod

  main:
    lazy-initialization: true
    banner-mode: off

  mvc:
    problemdetails:
      enabled: false

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      initializationFailTimeout: 0
      connectionTimeout: 2000
      maximumPoolSize: 2
      minimumIdle: 1

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:migration

jwt:
  secret: ${JWT_SECRET}
