spring:
  application:
    name: restructuring-backend

server:
  port: ${PORT:8080}

logging:
  level:
    org.springframework: INFO

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics

  endpoint:
    health:
      probes:
        enabled: true
