spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/restructuring_test
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: false

  sql:
    init:
      mode: always
      data-locations: classpath:data-test.sql

  jpa.defer-datasource-initialization: true
